.inner{
    width: 96%;
    margin: auto;
    margin-bottom: 50px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.exsite_grid{
	display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    justify-items: center;
    align-items: center;
    margin-top: 10px;
}

.explanation{
    width: 80%;
    margin: auto;
    text-align: center;
}

.explanation2{
    width: 80%;
    margin: 20px auto;
}

.exsite{
    width: 80%;
    align-items: center;
    margin: 20px auto;
}

.purpose{
    font-size: 18px;
}

@media only screen and (max-width: 840px){
    .exsite_grid{
        margin-top: 10px;
        grid-template-columns: repeat(auto-fit, minmax(98%, 1fr));
        gap: 3px;
    }
}