.screen{
    width: 96%;
    margin: auto;
    margin-bottom: 50px;
}

.all{
    width: 96%;
    padding-top: 20px;
    margin: 20px auto;
    text-align: center;
    align-items: center;
}

.header{
    width: 96%;
    margin: auto;
    text-align: center;
    align-items: center;
}

.button{
    position: absolute;
    right: 0;
    bottom: 0;
    color: black;
}