.footer{
    width: 96%;
    margin: auto;
    text-align: center;
}

.navi {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}
.nav-list-item {
    display: inline-block;
    margin: 10px;
}

a{
    color: #1976d2;
    text-decoration: none;
}